body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
main {
	display: flex;
	/*flex-direction: column;*/
	align-items: center;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	margin-top: 0 !important;
	overflow: hidden;

}
main img {
	position: absolute;
}
main .text {
	font-size: 18px;
}

.image_1 {
    width: 210px;
    opacity: .1;
    transform: translate(299px, 211px);
}
.image_2 {
    width: 280px;
    opacity: .1;
    transform: translate(215px, -206px);
}
.image_3 {
    width: 572px;
    opacity: .1;
    transform: translate(-377px, -334px);
}
.image_4 {
    width: 388px;
    opacity: .1;
    transform: translate(-205px, 342px);
}
button {
	transition: .1s;
	padding: 7px 15px;
	background-color: #191919;
	color: #fff;
	border-radius: 5px;
	margin-top: 15px;
	cursor: pointer;
	font-size: 16px;
}
button:hover {
	opacity: .9;
}