/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */

* {
	/* transition: .3s; */
	/* transition-property: color, background-color, border, fill, opacity; */
	padding: 0;
	margin: 0;
	font-family : 'Findcreek', sans-serif;
	font-weight: 500;
	color: #242424;
	box-sizing: border-box;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: geometricPrecision;
}

.custom-scrollbar {
	/* padding-right: 8px; */
	scrollbar-gutter: stable;
}
.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background-color: #14161a;
	/* background-color: rgba(0, 0, 0, 0); */
  }
.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #f5f5f750;
	/* border-radius: 8px 0 0 8px; */
	border-radius: 8px;
  }


*::selection {
	background-color: gray;
	color: #fff;
}

body {
	-webkit-font-smoothing: subpixel-antialiased;
	min-height: 100vh;
}

input.error {
	background-color: #ee423830 !important;
	border-color: #ee423850 !important;
}
input {
	transition: .2s;
    border: 1px solid transparent;
	outline-color: #615efe;
}

.loading::after {
    position: absolute;
    /* top: 50%; */
	/* transform: translateY(-50%); */
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url('https://findcreek.com/assets/img/icons/3d-cube-sphere.svg');
	animation: 2s rotate forwards infinite;
	content: '';
	height: 30px;
	width: 30px;
	background-size: cover;
	filter: invert(1);
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


.popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.popup.show {
	display: flex;
	animation: .2s showPopup forwards;
}
.popup.show .panel {
	/* top: 0px; */
	animation: .3s slidedownPopupPanel forwards;
}
@keyframes showPopup {
	from {
		display: none;
		opacity: 0;
	}	
	to {
		display: flex;
		opacity: 1;
	}
}
@keyframes slidedownPopupPanel {
	from {
		top: -30px;
	}	
	to {
		top: 0px;
	}
}
.popup .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(4px);
	z-index: 201;
}
.popup .panel {
	transition: .3s;
	position: relative;
	top: 0px;
	left: 0;
	padding: 67px 92px 73px 92px;
	background-color: #fff;
	z-index: 202;
	border-radius: 15px;
}
.popup .panel .close {
	transition: .15s !important;
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: .2;
	cursor: pointer;
	width: 55px;
	padding: 10px;
}
.popup .panel .close img {
	width: 100%;
}
.popup .panel .close:hover {
	opacity: .5;
}
.popup .panel h2.title {
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.25rem;
}



/*.btn1 {*/
/*	transition: .1s;*/
/*	font-weight: 800;*/
/*	font-size: 1.0625rem;*/
/*	border-radius: 13px;*/
/*	border: none;*/

/*	background: linear-gradient(10deg, #634EB6, #8B6FFF);*/
/*	color: #fff;*/
/*}*/
/*.btn1:hover {*/
/*	opacity: .9;*/
/*}*/



.btn1 {
	position: relative;
	transition: .1s;
	font-weight: 800;
	font-size: 1.0625rem;
	border-radius: 13px;
	border: none;
	height: 40px;
	width: 260px;
	color: #fff;
	text-decoration: none;
	/*background: linear-gradient(10deg, #634EB6, #8B6FFF);*/
	background: linear-gradient(10deg, #615efe, #9492f5);
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 0;
}
.btn1:hover {
	opacity: .9;
}


.btn2 {
	position: relative;
	transition: .1s;
	font-weight: 800;
	font-size: 1.0625rem;
	border-radius: 13px;
	border: none;
	height: 40px;
	width: 260px;
	color: #fff;
	text-decoration: none;
	background: linear-gradient(90deg, #C96F6F 0%, rgba(255, 255, 255, .5) 50%, #6572E8 100%);
}
.btn2 span {
	color: inherit;
	font-weight: inherit;
	position: absolute;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	top: 1px;
	left: 1px;
	background-color: #14161a;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn2:hover span {
	background-color: #14161aE9;
}


.btn3 {
	position: relative;
	transition: .1s;
	font-weight: 500;
	/*font-size: 1.0625rem;*/
	/*font-size: 0.875rem;*/
	font-size: 0.9375rem;
	border-radius: 13px;
	border: none;
	height: 40px;
	width: 260px;
	color: #fff;
	text-decoration: none;
	background-color: #615efe	;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 0;
}
.btn3:hover {
	opacity: .9;
}


.btn4 {
	position: relative;
	transition: .1s;
	font-weight: 500;
	/*font-size: 1.0625rem;*/
	/*font-size: 0.875rem;*/
	font-size: 0.9375rem;
	border-radius: 13px;
	height: 40px;
	width: 260px;
	color: #2997FF;
	text-decoration: none;
	border: 1px solid #2997FF;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 0;
}
.btn4:hover {
	background-color: #2997FF20;
}


.accent-link {
	transition: .1s;
	color: #504cfe;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
}
.accent-link:hover {
	opacity: .8;
}


.cards {
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: -20px;
}
.cards .card {
	position: relative;
	border-radius: 18px;
	background-color: #fff;
	box-shadow: 0px 0px 36px 0px #0000001A;
	margin-right: 20px;
	margin-bottom: 20px;
}
.cards .card:nth-last-child(1) {
	margin-right: 0;
}
.cards .card::before {
	position: absolute;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	content: '';
	top: -1px;
	left: -1px;
	z-index: -1;
	border-radius: 19px;
	background: linear-gradient(to bottom, transparent, #dccffd50);
}

.card-slider {
	display: flex;
	justify-content: unset;
	/*overflow-x: scroll;*/
}
.card-slider .cards {
	transition: .3s;
	width: auto;
	flex-wrap: nowrap;
	/*overflow-y: scroll;*/
}

.card-slider .card-slider-arrow {
	transition: .1s;
	position: absolute;
	z-index: 10;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .8);
	backdrop-filter: blur(4px);
	content: '';
	box-shadow: 0px 0px 36px 0px #0000001A;
	border: 1px solid #dccffd70;
	cursor: pointer;
}
.card-slider .card-slider-arrow::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url('https://findcreek.com/assets/img/icons/chevron-right.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px;
	/*background-color: #fff;*/
	content: '';
}
.card-slider .card-slider-arrow:hover {
	background-color: #dccffd20;
}
.card-slider .card-slider-arrow.hidden {
	display: none;
}
.card-slider .arrow-left {
	left: 70px;
}
.card-slider .arrow-left::after {
	transform: rotate(-180deg);
}
.card-slider .arrow-right {
	right: 70px;
}
